/* larger tablets & smaller desktop */
@media screen and (max-width: 1279px) {
    .container {
        width: 80%;
    }
    ul.empty-list {
        padding: 0 40px;
    }
    #empty-input-noti {
        font-size: 0.8em;
    }
    li p {
        max-width: 75%;
    }
}
/* tablets & larger phones */
@media screen and (max-width: 767px) {
    .container {
        height: 50%;
    }
    h1 {
        font-size: 1.5em;
    }
    input, button {
        height: 1.5em;
    }
    input {
        height: 2.4em;
        font-size: 20px;
        padding: 0 0 0 10px;
    }
    button {
        width: 1.5em;
    }
    input::placeholder {
        font-size: 25px;
    }
    ul, .form {
        width: 90%;
    }
    ul li {
        font-size: 0.80em;
    }
    li p {
        max-width: 65%;
    }
}
/* regular/smaller phones */
@media screen and (max-width: 479px){
    .container {
        width: 90%;
    }
    .ui-switch {
        width: 30px;
        height: 30px;
        font-size: 25px;
    }
    .form {
        padding: 0 10px;
    }
    input {
        font-size: 16px;
        height: 3em;
        padding: 0 0 0 10px;
    }
    input::placeholder {
        font-size: 16px;
    }
    ul {
        padding: 25px 10px 10px 10px;
    }
    ul li {
        font-size: 20px;
        height: 4.5em;
        align-items: flex-start;
        overflow: hidden;
        padding: 5px;
    }
    li i.fa-circle, li i.fa-trash, li i.fa-circle-check, li, i.fa-pencil{
        bottom: 15px;
    }
    li i.fa-pencil {
        right: 40px;
    }
    li i.fa-trash {
        right: 15px;
        bottom: 15px;
    }
    li .task-name {
        position: relative;
        top: 10px;
        left: 10px;
    }
    li p {
        max-width: 90%;
    }
}