/* larger tablets & smaller desktop */
@media screen and (max-width: 1279px) {
    .container {
        width: 80%;
    }
    ul.empty-list {
        padding: 0 40px;
    }
}
/* tablets & larger phones */
@media screen and (max-width: 767px) {
    .container {
        height: 50%;
    }
    h1 {
        font-size: 1.5em;
    }
    input, button {
        height: 1.5em;
    }
    input {
        height: 2.4em;
        font-size: 20px;
        padding: 0 0 0 10px;
    }
    button {
        width: 1.5em;
    }
    input::placeholder {
        font-size: 25px;
    }
    ul, .form {
        width: 90%;
    }
    ul.empty-list {
        font-size: 0.75em;
    }
}
/* regular/smaller phones */
@media screen and (max-width: 479px){
    .container {
        width: 90%;
    }
    input {
        font-size: 16px;
        height: 3em;
        padding: 0 0 0 10px;
    }
    input::placeholder {
        font-size: 16px;
    }
    #empty-input-noti {
        font-size: 0.5em;
    }
    ul li {
        font-size: 25px;
        height: 5em;
        align-items: flex-start;
        overflow: hidden;
        padding: 5px;
    }
    li i.fa-circle, li i.fa-xmark, li i.fa-circle-check{
        bottom: 15px;
    }
}