/* larger tablets & smaller desktop */
@media screen and (max-width: 1279px) {
    .container {
        width: 80%;
    }
}
/* tablets & larger phones */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }
    input, button {
        height: 1.5em;
    }
    input {
        height: 2.4em;
        font-size: 20px;
        padding: 0 0 0 10px;
    }
    button {
        width: 1.5em;
    }
    input::placeholder {
        font-size: 25px;
    }
    ul, .form {
        width: 90%;
    }
}
/* regular/smaller phones */
@media screen and (max-width: 479px){
    .container {
        width: 90%;
        height: 90%;
    }
    input {
        font-size: 16px;
        height: 3em;
        padding: 0 0 0 10px;
    }
    #empty-input-noti {
        font-size: 0.5em;
    }
    ul li {
        font-size: 25px;
        height: 5em;
        align-items: flex-start;
        overflow: hidden;
        padding: 5px;
    }
    i.fa-circle, i.fa-xmark, i.fa-circle-check{
        bottom: 15px;
    }
}